@font-face {
  font-family: "iconfont"; /* Project id 3860172 */
  src: url('@/assets/font/iconfont.woff2?t=1680854467561') format('woff2'),
       url('@/assets/font/iconfont.woff?t=1680854467561') format('woff'),
       url('@/assets/font/iconfont.ttf?t=1680854467561') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fenlei_icon:before {
  content: "\e608";
}

.icon-dingdan_icon:before {
  content: "\e609";
}

.icon-wode_icon:before {
  content: "\e60a";
}

.icon-shouye_icon:before {
  content: "\e60b";
}

.icon-xiaoxi_icon:before {
  content: "\e60c";
}

.icon-kuaisudaohang_sousuo:before {
  content: "\e604";
}

.icon-kuaisudaohang_shouye:before {
  content: "\e605";
}

.icon-kuaisudaohang_kefu:before {
  content: "\e606";
}

.icon-kuaisudaohang_dingdan:before {
  content: "\e607";
}

.icon-gengduo_icon_black:before {
  content: "\e602";
}

.icon-Facebook:before {
  content: "\e601";
}

.icon-check_fill:before {
  content: "\e6ac";
}

.icon-xuanzhong:before {
  content: "\e693";
}

.icon-HOT:before {
  content: "\e6a9";
}

.icon-SALE:before {
  content: "\e6aa";
}

.icon-NEW:before {
  content: "\e6ab";
}

.icon-mima:before {
  content: "\e6a7";
}

.icon-QQ_icon:before {
  content: "\e6a8";
}

.icon-menu_wish:before {
  content: "\e6a6";
}

.icon-checkbox_active_dis:before {
  content: "\e666";
}

.icon-cooper_bottom:before {
  content: "\e667";
}

.icon-cooper_arrow_top:before {
  content: "\e669";
}

.icon-cooper_arrow_right:before {
  content: "\e66a";
}

.icon-feature_pay:before {
  content: "\e66b";
}

.icon-del_gray:before {
  content: "\e66c";
}

.icon-foot_dy_gray:before {
  content: "\e66d";
}

.icon-dianzan:before {
  content: "\e66e";
}

.icon-close_gray:before {
  content: "\e66f";
}

.icon-goods_off:before {
  content: "\e670";
}

.icon-doubt:before {
  content: "\e672";
}

.icon-cooper_line:before {
  content: "\e673";
}

.icon-foot_tt_gray:before {
  content: "\e674";
}

.icon-gift:before {
  content: "\e675";
}

.icon-feature_service:before {
  content: "\e676";
}

.icon-feature_sale:before {
  content: "\e678";
}

.icon-num_add_black:before {
  content: "\e679";
}

.icon-menu_user:before {
  content: "\e67a";
}

.icon-eye_close:before {
  content: "\e67b";
}

.icon-left_whie:before {
  content: "\e67c";
}

.icon-goods_kf:before {
  content: "\e67d";
}

.icon-goods_fast:before {
  content: "\e67e";
}

.icon-tips_bg_wran_orange:before {
  content: "\e67f";
}

.icon-goods_hint:before {
  content: "\e680";
}

.icon-vip_gold_black:before {
  content: "\e681";
}

.icon-security:before {
  content: "\e682";
}

.icon-arrow_left:before {
  content: "\e683";
}

.icon-goods_after:before {
  content: "\e684";
}

.icon-num_reduce_hover:before {
  content: "\e685";
}

.icon-menu_search:before {
  content: "\e686";
}

.icon-star_hover:before {
  content: "\e687";
}

.icon-login_yzm:before {
  content: "\e688";
}

.icon-goods_curr:before {
  content: "\e689";
}

.icon-bar_coups_black:before {
  content: "\e68a";
}

.icon-icon_translate:before {
  content: "\e68b";
}

.icon-login_psw:before {
  content: "\e68c";
}

.icon-vip_exit_black:before {
  content: "\e68d";
}

.icon-num_sub_black:before {
  content: "\e68e";
}

.icon-bar_kf_white:before {
  content: "\e68f";
}

.icon-tips_bg_error_red:before {
  content: "\e690";
}

.icon-weixin:before {
  content: "\e691";
}

.icon-tips_bg_wran_blue:before {
  content: "\e692";
}

.icon-add_blue:before {
  content: "\e694";
}

.icon-vip_user_black:before {
  content: "\e695";
}

.icon-wish_check:before {
  content: "\e696";
}

.icon-tips_bor_error_red:before {
  content: "\e697";
}

.icon-blue_search:before {
  content: "\e698";
}

.icon-header_close:before {
  content: "\e699";
}

.icon-bar_back_black:before {
  content: "\e69a";
}

.icon-bar_app_black:before {
  content: "\e69b";
}

.icon-bar_wx_black:before {
  content: "\e69c";
}

.icon-tips_bg_success_green:before {
  content: "\e69d";
}

.icon-bar_user_black:before {
  content: "\e69e";
}

.icon-goods_wish:before {
  content: "\e69f";
}

.icon-vip_msg_black:before {
  content: "\e6a0";
}

.icon-vip_money_black:before {
  content: "\e6a1";
}

.icon-tips_bor_wran_red:before {
  content: "\e6a2";
}

.icon-bar_activity_black:before {
  content: "\e6a3";
}

.icon-wish_black:before {
  content: "\e6a4";
}

.icon-num_add_link:before {
  content: "\e6a5";
}

